<app-titulo [titulo]="'Perfil'" [iconClass]="'fa fa-address-card'"></app-titulo>

<div class="card rounded shadow-sm">
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
                src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                name="aboutme" width="120" height="120" class="rounded-circle" />
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">@{{f.userName.value}}</div>
            <div class="h7 text-bold pb-1"><b>Nome:</b> {{f.primeiroNome.value + ' ' + f.ultimoNome.value}}</div>
            <div class="h7">
              {{f.descricao.value}}
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">0</div>
                  <div class="h6 text-muted">Meus Eventos Criados</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">0</div>
                  <div class="h6 text-muted">Eventos como Participante</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="form-row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>
          <div class="form-group col">
            <label>Título</label>
            <select formControlName="titulo" [ngClass]="{'is-invalid' : f.titulo.errors && f.titulo.touched}"
              class="form-control">
              <option value="NaoInformado">Não Quero</option>
              <option value="Tecnologo">Tecnólogo(a)</option>
              <option value="Bacharel">Bacharel</option>
              <option value="Especialista">Especialista</option>
              <option value="PosGraduado">Pós Graduado(a)</option>
              <option value="Mestrado">Mestre</option>
              <option value="Doutorado">Doutor(a)</option>
              <option value="PosDoutorado">Pós Doc</option>
            </select>
            <div class="invalid-feedback">
              Título é obrigatório.
            </div>
          </div>
          <div class="form-group col-sm-5">
            <label>Primeiro Nome</label>
            <input type="text" formControlName="primeiroNome"
              [ngClass]="{'is-invalid' : f.primeiroNome.errors && f.primeiroNome.touched}" class="form-control" />
            <div class="invalid-feedback">
              Primeiro nome é obrigatório.
            </div>
          </div>
          <div class="form-group col-sm-5">
            <label>Último nome</label>
            <input type="text" formControlName="ultimoNome"
              [ngClass]="{'is-invalid' : f.ultimoNome.errors && f.ultimoNome.touched}" class="form-control" />
            <div class="invalid-feedback">
              Último nome é obrigatório.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-5">
            <label>E-mail</label>
            <input type="text" formControlName="email" [ngClass]="{'is-invalid' : f.email.errors && f.email.touched}"
              class="form-control" />
            <div *ngIf="f.email.errors?.required  && f.email.touched" class="invalid-feedback">
              E-mail é obrigatório.
            </div>
            <div *ngIf="f.email.errors?.email" class="invalid-feedback">
              Deve ser um e-mail válido.
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label>Telefone</label>
            <input type="text" formControlName="phoneNumber"
              [ngClass]="{'is-invalid' : f.phoneNumber.errors && f.phoneNumber.touched}" class="form-control" />
            <div class="invalid-feedback">
              Telefone é obrigatório.
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Função</label>
            <select formControlName="funcao" [ngClass]="{'is-invalid' : f.funcao.errors && f.funcao.touched}"
              class="form-control">
              <option value="NaoInformado">Não Informado</option>
              <option value="Participante">Participante</option>
              <option value="Palestrante">Palestrante</option>
            </select>
            <div class="invalid-feedback">
              Função é obrigatória.
            </div>
          </div>
          <div class="form-group col-12">
            <label>Descrição</label>
            <input type="text" formControlName="descricao"
              [ngClass]="{'is-invalid' : f.descricao.errors && f.descricao.touched}" class="form-control" />
            <div class="invalid-feedback">
              Descrição é obrigatória.
            </div>
          </div>
        </div>
        <div>
          <h3 class="pt-3 border-bottom">Mudar Senha</h3>
          <p>Caso mude de senha, preencha os campos abaixo:</p>
        </div>
        <div class="form-row">
          <div class="form-group col-sm">
            <label>Senha</label>
            <input type="password" formControlName="password"
              [ngClass]="{'is-invalid' : f.password.errors && f.password.touched}" class="form-control" />
            <div *ngIf="f.password.errors?.required && f.password.touched" class="invalid-feedback">
              Senha é obrigatório.
            </div>
            <div *ngIf="f.password.errors?.minlength && f.password.touched" class="invalid-feedback">
              Deve conter no mínimo 6 caracteres.
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Confirmar Senha</label>
            <input type="password" formControlName="confirmePassword"
              [ngClass]="{'is-invalid' : f.confirmePassword.errors && f.confirmePassword.touched}"
              class="form-control" />
            <div *ngIf="f.confirmePassword.errors?.required && f.confirmePassword.touched" class="invalid-feedback">
              Confirmar senha é obrigatório.
            </div>
            <div *ngIf="f.confirmePassword.errors?.mustMatch" class="invalid-feedback">
              Senhas não conferem.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button (click)="resetForm($event)" class="btn btn-outline-secondary mr-auto border">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" type="submit">
          <span class="spinner-border spinner-border-sm mr-1"></span>
          Salvar Alteração
        </button>
      </div>
    </div>
  </form>
</div>